

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html><html class=''>
<head>
    <script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='chat.css') }}">
    <title>I-Recruit</title>
</head>
<body>
<div id="frame">
	<div id="sidepanel">
		<div id="profile">

            <img width="395px" height="270" src="{{url_for('video_feed')}}">

        </div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
			<p>I-Recruit</p>
            <div class="social-media">
			<i id="countdowntimer"><span id="future_date">15:00</span> </i>
            </div>
		</div>
		<div class="messages">
			<ul>
				<li class="sent">
					<img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
					<p>Welcome {{ user.firstname }}! Hope you are ready for the interview.</p>
				</li>
			</ul>
		<div class="message-input">
			<div class="wrap">
			<input type="text" id= "input" placeholder="Write your message...." />
			<i class="fa fa-microphone" style="font-size:40px; cursor: pointer;" onclick = "startDictation()"></i>
			<button class="submit" id="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>

</div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="left: 0">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Your Session Is Expired!</h5>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Thankyou for using our system.Your results will be calculated and will be informed soon.
      </div>
      <div class="modal-footer">
        <a href="/logout" class="btn btn-primary">Exit</a>
      </div>
    </div>
  </div>
</div>





<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
    <script>
        function startDictation() {

            window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
            const synth = window.speechSynthesis;
            const recognition = new SpeechRecognition();

            const icon = document.querySelector('i.fa.fa-microphone')

            icon.addEventListener('click', () => {
                dictate();
            });

            const dictate = () => {
                recognition.start();
                recognition.onresult = (event) => {
                    const speechToText = event.results[0][0].transcript;

                    document.getElementById('input').textContent = speechToText;
                }
            }
        }
    </script>
<script >$(".messages").animate({ scrollTop: $(document).height() }, "fast");

$("#profile-img").click(function() {
	$("#status-options").toggleClass("active");
});

$(".expand-button").click(function() {
  $("#profile").toggleClass("expanded");
	$("#contacts").toggleClass("expanded");
});

var i;

function newMessage() {

	message = $(".message-input input").val();
	if($.trim(message) == '') {
		return false;
	}
	$('<li class="replies"><img src="http://emilcarlsson.se/assets/mikeross.png" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
	 $('.message-input input').val(null);
	 $('.contact.active .preview').html('<span>You: </span>' + message);
	$(".messages").animate({ scrollTop: $(document).height() }, "slow");

	if (i === 1){
	     i = 1;
    }
    else{ i = 0; }

	$.getJSON('/chat_retrieval',{
            answer: message,
            count: i,

    },function (data) {
        reply = data.result[0]+" ?";
        counting = data.result[1];
        i = counting;

       $('<li id = "reply" class="sent"><img src="http://emilcarlsson.se/assets/mikeross.png" alt="" /><p>'+ reply + '</p></li>').appendTo($('.messages ul'));

	 $('.contact.active .preview').html('<span>You: </span>' + reply);
	$(".messages").animate({ scrollTop: $(document).height() }, "slow");
    });



};

$.getJSON('/video_feed',{
    error: 0,
}, function (output) {
    rslt = output.count

    if (rslt == 0 ){
        $('#exampleModalCenter').modal('show');
    }
});


$('.submit').click(function() {
  newMessage();


});

$(window).on('keydown', function(e) {
  if (e.which == 13) {
    newMessage();

    return false;
  }
});
function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    var count = 0;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if(minutes < 1 && count == 0)
        {
            count =1;
            alert("You are Running out of time !");
            document.getElementById('countdowntimer').style.color = "red";
        }
        if (--timer < 0) {
            document.getElementById("input").disabled = true;
            $('#exampleModalCenter').modal('show');
            timer = 0;
        }
    }, 1000);
}
window.onload = function () {
        var fiveMinutes = 60*1,
        display = document.querySelector('#future_date');
        document.getElementById('countdowntimer').style.color = "blue";
        startTimer(fiveMinutes, display);
};
//# sourceURL=pen.js
</script>

</body>
</html>
