{% extends "layout.html" %}
{% block content %}

    <div align="center" class="content-section">
    <h1>Instructions</h1>
        <div align="left">
            <p class="h5">1. Ensure high internet connectivity</p>
    <p class="h5">2. Ensure lighting conditions are proper</p>
    <p class="h5">3. Click the proceed  button to start capturing images for surveillance purposes.</p>
            <p class="h5">4.  Ensure you move your face in the horizontal direction only during the image capturing process.</p>
            <p class="h5">5. Wait until the capturing process terminates by itself.</p>
            <p class="h5">6. You will be automatically redirected to the interview session within a short while. </p>
            <p class="h5"> 7. Ensure you do not seek help in any means. Any kind of forgery detected will lead to automatic termination of the session </p>

        </div>
        <a href="/face_detection" class="btn btn-outline-info" >Proceed</button> </a>
</div>

{% endblock content %}